* {
  color: #f8f7f6;
  font-family: "Roboto";
}

body {
  background-color: #2C353E;
}

nav ul {
  background-color: #90CED4;
  text-align: center;
  padding: 16px;
}

nav ul li:first-child
{
  border-left: 2px solid #edaa46; 
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 150%;
  border-right: 2px solid #edaa46;
}


a {
  text-decoration: none;
  color: #f8f7f6;
}

a:hover {
  color: #ffffff;
}

article {
  background-color: #90CED4;
}

p {
  font-size: 115%;
}

.current {
  /* color: #c35732; */
  /* edaa46 */
  color: #edaa46
}

.socials {
  list-style-type: none;
}

.socials li {
  font-size: 115%;
}

.socials li a {
  font-weight: bold;
}

header h1 {
  font-family: "Sriracha";
}