* {
  color: #E6D6A7;
  font-family: "Roboto";
}

body {
  background-color: #273955;
}

nav ul {
  background-color: #CD4341;
  text-align: center;
  padding: 16px;
}

nav ul li:first-child
{
  border-left: 2px solid #9CB9C9; 
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 150%;
  border-right: 2px solid #9CB9C9;
}


a {
  text-decoration: none;
  color: #E6D6A7;
}

a:hover {
  color: #ffffff;
}

article {
  background-color: #CD4341;
}

p {
  font-size: 115%;
}

.current {
  color: #687CBC;
}

.socials {
  list-style-type: none;
}

.socials li {
  font-size: 115%;
}

.socials li a {
  font-weight: bold;
}

header h1 {
  font-family: "Sriracha";
}