@import "../palette.scss";

footer.pagefooter {
    background-color: $accent-2;
    padding: 8px;
    
    ul {
        list-style: none;

        @media (max-width: 500px) {
            text-align: center;
        }
        
        li {
            color: $text-1;
            a {
                color: $text-1;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
