footer.pagefooter {
    background-color: cyan;
    padding: 8px;

    ul {
        list-style: none;

        a {
            color: #111;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
