@import "../palette.scss";

footer.pagefooter {
    padding: 8px;
    
    ul {
        list-style: none;
        text-align: center;
        align-items: center;

        
        li {
            color: $text-1;
            display: inline;
            margin: 16px;

            svg {
                width: 30px;
                transition: .5s;

                &:hover {
                    width: 45px;
                    color: $text-hover;
                }
            }
        }
    }
}