@import "../palette.scss";

nav.navbar {
    background-color: $accent-1;
    padding: 8px;

    ul {
        text-align: right;
        
        @media (max-width: 500px) {
            align-items: center;
            text-align: center;
        }

        li {
            display: inline;
            padding-left: 8px;
            padding-right: 8px;
            border-left: 1px solid $text-1;
            font-weight: bold;
            font-size: larger;

            &:first-child {
                border-left: none;
            }

            a {
                color: $text-1;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    color: $text-hover;
                    font-size: x-large;
                }
            }
        }
    }

    h2.pageheader {
        font-size: larger;
        padding: 16px 32px;
        a {
            color: $text-2;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @media (max-width: 500px) {
            text-align: center;
        }
    }
}
