.docFooter li {
    list-style-type: none;
}

.docFooter ul li a {
    text-decoration: none;
}

.docFooter ul li a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 40%
}

.blogPosts ul li {
    list-style-type: none;
}

.blogPosts ul li a {
    text-decoration: none;
}

.blogPosts ul li a:hover {
    text-decoration: underline;
}