@import url("./main.css");

ul.posts {
    list-style-type: none;
}

h2.date {
    color: var(--accent-1);
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
}

i.date {
    margin-left: 10px;
    text-decoration: underline;
}

section.post, ul.posts {
    padding: 16px;
}

.blog-img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}