@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./palette.scss";

* {
    font-family: 'Poppins', sans-serif;
    color: $text-1;
}

html {
    background-color: $bg-1;   
}

.page-title {
    text-align: center;
    font-size: 85px;
    font-variant: small-caps;
}

.page-subtitle {
    text-align: center;
    font-size: 45px;
    font-variant: normal;
}

.content {
    padding: 128px;
    text-align: justify;

    a {
        color: $link-col;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header {
    color: $accent-1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}