@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Cuprum&family=Days+One&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --bg-1: #e0e7f5;
    --bg-2: #f3f3f3;
    --accent-1: #3C1874;
    --accent-2: #DE354C;
    --accent-3: #932432;
    --text-1: #283747;
    --text-2: #f3f3f3;
    --shadow-col: #00000044;
}

/* the following is the dark mode colour palette */
/* :root {
    --bg-1: #2e3440;
    --bg-2: #3b4252;
    --accent-1: #4f4e94;
    --accent-2: #DE354C;
    --accent-3: #932432;
    --text-1: #e0e7f5;
    --text-2: #f3f3f3;
    --shadow-col: #aaaaaa44;
} */

html {
    background-color: var(--bg-2);
    box-sizing: border-box;
    transition: 0.3s;
}

*, *.before, *:after {
    box-sizing: inherit;
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-1);
}

p.warning {
    text-align: center;
    padding: 8px;
    background-color: #880000;
    border: 4px solid #880000;
    border-radius: 2px;
    color: var(--text-2);
    font-size: 18px;
}

p.warning button#close-warning {
    background-color: #880000;
    color: var(--text-2);
    font-weight: bolder;
    border: none;
    float: right;
}

p.warning button#close-warning:hover {
    color: orange;
}

button#toggleThemeBtn {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    color: #dddd00;
    background: transparent;
    border: none;
    font-size: 200%;
}

button#toggleThemeBtn:hover {
    color: #ffff00;
}

nav h3 a {
    color: var(--text-2);
    text-decoration: none;
}

nav h3 a:hover {
    text-decoration: underline;
}

nav {
    padding: 16px 32px;
    background-color: var(--accent-1);
    color: var(--bg-2);
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 2px solid var(--text-2);
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-2)
}

nav ul li a:hover {
    text-decoration: underline;
}

article {
    /* background-color: var(--bg-2);
    border: 1px solid var(--bg-2); */
    border-radius: 4px;
    max-width: 1024px;
    min-width: 256px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 24px;
}

section {
    margin-bottom: 24px;
    min-height: 160px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--accent-1);
    background-color: var(--bg-1);
    box-shadow: 0 4px 8px 0 var(--shadow-col);
    transition: 0.3s;
} 

section:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-col);
}

section a {
    color: var(--accent-1);
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

section.blog-posts ul li:before {
    content: ">> "
}

section.blog-posts ul li {
    list-style: none;
}

h1.title {
    color: var(--accent-1);
    text-align: center;
    font-size: 300%;
    font-family: "Days One", sans-serif;
    -webkit-text-stroke: 1px var(--stroke-col);
}

p.subtitle {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
}

code {
    background-color: #300a24;
    border: 1px solid #300a24;
    border-radius: 4px;
    color: var(--text-2);
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 16px;
}

code.code-block {
    border: 1px solid #300a24;
    border-radius: 6px;
    padding: 8px;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

h2 {
    color: var(--accent-1);
}

aside section ul li {
    list-style: none;    
    margin-bottom: 10px;
}

aside section ul li::before {
    content: ">>"
}

footer {
    background-color: var(--accent-2);
    padding: 8px 4px;
    margin: 0 auto;
    min-width: 256px;
}

footer ul li {
    list-style: none;
    color: #111;
}

footer ul li a {
    text-decoration: none;
    color: #111;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul.social-icons {
    text-align: right;
}

footer ul.social-icons li {
    display: inline;
    margin: 0px 8px;
}

footer ul.social-icons li a img {
    width: 32px;
    transition: transform 200ms ease-in-out;
}

footer ul.social-icons li a img:hover {
    transform: scale(1.3);
}

@media all and (min-width: 900px) {
    article {
        float: left;
        width: 75%;
    }

    aside {
        float: left;
        padding-left: 24px;
        width: 25%;
    }

    footer {
        clear:both;
    }
}

@media all and (max-width: 599px) {
    aside {
        display: none;
    }

    footer {
        text-align: center;
    }

    footer ul.social-icons {
        text-align: center;
    }
}