$accent-1: #4400b1; //#3C1874
$accent-2: #DE354C;
$accent-3: #932432;

$bg-1: #111;
$bg-2: #f3f3f3;

$text-1: #d3d3d3;
$text-2: #283747;
$text-hover: #fff;

$shadow-col: #00000044;
$link-col: #4400b1;
