@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Cuprum&family=Days+One&family=Quicksand&display=swap');

:root {
    --light-1: #e0e7f5;
    --light-2: #f3f3f3;
    --accent-1: #3C1874;
    --accent-2: #DE354C;
    --dark-accent: #932432;
    --dark-color: #283747;
}

html {
    font-family: 'Quicksand', sans-serif;
    color: var(--dark-color);
    background-color: var(--light-1);
}

body {
    background-color: var(--light-2);
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
}

p.warning {
    text-align: center;
    padding: 8px;
    background-color: var(--dark-accent);
    border: 4px solid var(--dark-accent);
    border-radius: 8px;
    color: var(--light-2);
}

img.logo {
    width: 56px;
    margin-top: auto;
    margin-bottom: auto;
    transition: transform 200ms ease-in-out;
}

img.logo:hover {
    transform: scale(1.2);
}

nav {
    text-align: right;
    display: flex;
    align-items: center;
}

nav ul {
    padding: 16px;
    list-style-type: none;
    flex: 1;
}

nav ul li {
    display: inline;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 2px solid var(--dark-color);
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-1);
}

h1.title {
    color: var(--accent-1);
    text-align: center;
    font-size: 300%;
    font-family: 'Days One', sans-serif;
}

p.subtitle {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
}

h2.section-header {
    text-align: center;
    color: var(--accent-1);
    margin: 48px auto 24px auto;
}

footer {
    background-color: var(--accent-2);
    border: 2px solid var(--accent-2);
    border-radius: 8px;
    padding: 4px;
}

footer div.social-icons {
    margin-right: 0px;
    margin-left: 50vw;
    padding: 8px;
}

footer div img {
    width: 32px;
    display: inline;
    margin: 0 8px;
    transition: transform 200ms ease-in-out;
}

footer div img:hover {
    transform: scale(1.2);
}

footer p {
    text-align: left;
    color: #111111;
}

footer p a {
    color: #111111;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-1);
}

article.about-me a {
    color: var(--accent-1);
    text-decoration: none;
}

article.about-me a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-1);
}

article {
    padding: 24px;
}

iframe.discord-embed {
    display: block;
    margin: 0 auto;
}

button.discord-button {
    display: none;
    color: var(--light-2);
    background-color: var(--accent-1);
    border: none;
    width: 100%;
    padding: 12px 8px;
}

button.discord-button:hover {
    background-color: var(--accent-2);
}

@media only screen and (max-width: 600px) {
    footer div.social-icons {
        margin: auto;
    }

    iframe.discord-embed {
        display: none;
    }

    button.discord-button {
        display: initial;
    }
  }
